%heading-1 {
    font: bold 50px $font-family__heading;
    margin: 0 0 25px;
    letter-spacing: .25em;
}
%heading-2 {
    font: bold 46px $font-family__heading;    
    margin: 0 0 $layout_indent;
}
%heading-3 {
    font: bold 28px $font-family__heading;
    margin: 0 0 $layout_indent;
}
%heading-4 {
    font: 20px $font-family__heading;    
    margin: 35px 0 $layout_indent;
}
%heading-5 {
    font: bold 16px $font-family__heading;    
    margin: 0 0 $layout_indent;
}
%heading-6 {
    font: bold 15px $font-family__heading;    
    margin: 0 0 $layout_indent;
}

h1, 
.heading-1 {
    @extend %heading-1;
}
h2, 
.heading-2 {
    @extend %heading-2;
    @include tablet {
        font-size: 60px;
    }
}
h3, 
.heading-3 {
    @extend %heading-3;
    @include tablet {
        font-size: 36px;
    }
}
h4, 
.heading-4 {
    @extend %heading-4;
    @include tablet {
        font-size: 24px;
    }
}
h5, 
.heading-5 {
    @extend %heading-5;
}
h6, 
.heading-6 {
    @extend %heading-6;
}