.header {
    background: $bg_color;

    &_content {
        @include layout;
            height: 145px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    }
}