.menu-container {
    padding: 0 0 5px;
    @include tablet-wide {
        display: flex;
        align-items: center;
        padding: 0;
    }
}

.menu {
    background: #fff;
    margin: 25px 0 0;
    padding: 42px 0 20px;
    width: 100%;
    position: relative;
    z-index: 1;
    display: none;
    @include tablet-wide {
        background: transparent;
        display: flex;
        flex-direction: row;
        height: 100px;
        align-items: center;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        top: 0;
        width: auto;
        position: static;
    }

    .toggled & {
        display: block;
        margin-bottom: 30px;
    }
    .widget-area & {
        display: block;
        padding: 0;
    }

    &-item {
        list-style: none;
        position: relative;
        z-index: 2;
        padding: 15px 0;
        @include tablet-wide {
            padding: 0;
            display: flex;
            height: 100%;
            align-items: center;
        }

        &__other {
            cursor: pointer;
            position: static;
        }
        .widget-area & {
            text-align: left;
        }

        a {
            color: $color;
            font-size: 16px;
            font-weight: 600;
            text-decoration: none;
            padding: 0 $layout_indent;
            position: relative;
            transition: .2s ease-in-out color;
            @include tablet-wide {
                color: $light_color;
                font-size: $font-size__small;
                line-height: 44px;
                margin: 0 25px;
                padding: 0;
                white-space: nowrap;
            }

            &:hover {
                @include tablet-wide {
                    color: $extra-bright_color;
                }
            }
            .widget-area & {
                color: $color;
                font-size: inherit;
                margin: 0 0 20px;
                padding: 0;

                &:hover {
                    color: rgba(0, 0, 0, .5);
                }
            }

        }
    }
    &-item-has-children {
        position: static;

        & > a:after {
            content: '';
            background: url(#{$img-path}/arrow-down.svg) no-repeat;
            display: inline-block;
            height: 7px;
            width: 10px;
            margin: 0 0 0 12px;
            vertical-align: middle;
            transition: .2s ease-in-out transform;
            @include desktop {
                content: none;
            }
        }
        &:hover > a:after {
            @include tablet-wide {
                content: '';
                display: block;
                background: url(#{$img-path}/arrow-down-yellow.svg) no-repeat;
                height: 7px;
                width: 10px;
                margin: 0;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translate(-50%, 5px);
            }
        }
    }
    &-item-opened {
        padding-bottom: 0;

        & > a:after{
            transform: rotateZ(180deg);
        }
    }
}
.sub-menu {
    background: #f0efdd;
    display: none;
    padding: 0;
    margin: 13px 0 0;
    @include tablet-wide {
        background: #2e2929;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 85px;
        left: 0;
        right: 0;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        transition: .2s ease-in-out opacity,
                    .2s ease-in-out visibility .2s;
    }

    .menu-item-opened & {
        display: block;
    }
    .menu-item:hover & {
        opacity: 1;
        visibility: visible;
        transition: .2s ease-in-out opacity .2s,
                    .2s ease-in-out visibility;
    }
}
