.menu-container {
    padding: 0 0 5px;
    @include tablet {
        display: flex;
        align-items: center;
        padding: 0;
    }
}

.menu {
    background: #fff;
    padding: 42px 0;
    width: 100%;
    z-index: 2;
    display: none;
    @include tablet {
        background: transparent;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        position: relative;
        top: 0;
        width: auto;
    }

    .toggled & {
        display: block;
    }
    .widget-area & {
        display: block;
        padding: 0;
    }

    &-item {
        list-style: none;
        position: relative;
        text-align: center;
        @include tablet {
            padding: 0;
        }

        &__other {
            cursor: pointer;
        }
        .widget-area & {
            text-align: left;
        }

        a {
            color: $color;
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            padding: 9px $layout_indent;
            display: block;
            transition: .2s ease-in-out color;
            @include tablet {
                color: $light_color;
                font-size: $font-size__small;
                margin: 0 25px;
                padding: 0;
                white-space: nowrap;
            }

            &:hover {
                @include tablet {
                    color: $bright_color;
                }
            }
            .sub-menu & {
                padding: 10px 0;
            }
            .widget-area & {
                color: $color;
                font-size: inherit;
                margin: 0 0 20px;
                padding: 0;

                &:hover {
                    color: rgba(0, 0, 0, .5);
                }
            }
        }
    }
}
.sub-menu {
    background: #2A2256;
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 50%;
    padding: 10px 0;
    transform: translate(-50%, 12px);
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out opacity,
                .2s ease-in-out visibility .2s;

    .menu-item:hover & {
        opacity: 1;
        visibility: visible;
        transition: .2s ease-in-out opacity .2s,
                    .2s ease-in-out visibility;
    }
    &:after {
        content: '';
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent #2A2256 transparent;
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
