.menu-toggle {
    @include invisible-text;
    box-sizing: border-box;
    border-radius: 0;
    background: #fff;
    padding: 0;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 26px;
    right: 26px;
    min-width: inherit;
    @include tablet {
        display: none;
    }

    &:before {
        content: '';
        background: $bg_color;
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        height: 7px;
    }
    &:after {
        content: '';
        background: $bg_color;
        position: absolute;
        bottom: 4px;
        left: 0;
        right: 0;
        height: 7px;
    }
}