.net {
    @include tablet {
        .home & {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 2000px;
            overflow: hidden;
            transform: translateZ(-5px) scale(6.05); //1 + (translateZ * -1) / perspective
            will-change: transform;
    
            &:before {
                content: '';
                background: url(#{$img-path}/net-left.svg) no-repeat;
                position: absolute;
                height: 793px;
                width: 845px;
                top: 605px;
                left: -170px;
            }
            &:after {
                content: '';
                background: url(#{$img-path}/net-right.svg) no-repeat;
                position: absolute;
                height: 1736px;
                width: 881px;
                top: 145px;
                right: -355px;
            }
        }
    }
}
