.social {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;

    .header & {
        display: none;
        @include media(480px) {
            display: flex;
            position: absolute;
            right: 15px;
            top: 30px;
        }
        @include tablet {
            right: 50%;
            margin: 0 (-$max-width__article/2 + 15px) 0 0;
        }
        @include tablet-wide {
            position: relative;
            right: 0;
            top: 0;
            margin: 0;
        }
    }

    &_link {
        @include invisible-text;
        background-position: center center;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 $layout_indent/2 0 0;
        vertical-align: middle;
        opacity: 1;
        transition: .2s ease-in-out opacity;

        &:hover {
            opacity: .6;
        }

        .footer & {
            height: 25px;
            width: 25px;
        }

        $social_networks: instagram, twitter, facebook, skype, slack, linkedin, medium, snapchat, youtube;
        @each $s in $social_networks {
            &__#{$s} {
                background-image: url(#{$img-path}/icons/#{$s}.svg);
            }
        }
    }
}
