%button {
    background: linear-gradient(to right, #d23266, #e76748);
    color: #fff;
    box-sizing: border-box;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    display: inline-block;
    font: 800 18px $font-family;
    line-height: 70px;
    height: 70px;
    min-width: 200px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    padding: 0 $layout_indent;        
    overflow: hidden;
    transition: .2s ease-in-out filter;

    &:hover {
        filter: contrast(1.4);
        color: #fff;
    }
    &:active {

    }
}

.button,
.fw-btn,
button, 
input[type="button"],  {
    @extend %button;
}
.fw-btn-yellow {
    background: linear-gradient(to right, #e86c49, #ffe140);
    color: #221931;

    &:hover {
        color: #221931;
    }
}
.fw-btn-white {
    background: #fff;
    color: #292154;
    transition: .2s ease-in-out background,
                .2s ease-in-out color;

    &:hover {
        background: #292154;
        color: #fff;
    }
}