input[type="text"],
input[type="search"],
input[type="email"],
input[type="url"],
input[type="tel"] {
    @include placeholder-color(#444);
    border-radius: 15px;
    background: transparent;
    color: $color;
    border: 1px solid #e3e3e6;
    font-size: 16px;
    padding: 10px 15px;
    transition: .2s ease-in border-color,
                .2s ease-in background-color;

    &:focus {
        background-color: #f0f0ff;
        border-color: rgba(120, 120, 92, .8);
    }
}
