input[type="text"],
input[type="search"],
input[type="email"] {
    @include placeholder-color(#444);
    border-radius: 15px;
    background: transparent;
    color: $color;
    border: 1px solid currentColor;
    font-size: 16px;
    padding: 10px 15px;
    transition: .2s ease-in border-color;

    &:focus {
        border-color: rgba(120, 120, 92, .8);
    }
}
