input[type="text"] {
    border-radius: 35px;
    background: transparent;
    border: 1px solid currentColor;
    color: $light_color;
    font-size: 16px;
    padding: 10px 15px;
    transition: .2s ease-in border-color;

    &:focus {
        border-color: rgba(120, 120, 92, .8);
    }
}
