body {
    background: $light_gradient;
    color: $color;
    font: $font-size $font-family;
    overflow: hidden;
}

a {
    color: #7f7fff;
    transition: .2s ease-in-out color;

    &:hover {
        color: #4b4bdb;
    }
}

p {
    line-height: 1.5;
}

blockquote {
    margin: 0;
    padding: 18px 40px;
    position: relative;

    &:before {
        content: '"';
        font-size: 70px;
        position: absolute;
        top: 16px;
        left: 0;
    }
}

.bg-dark {
    background: $dark_gradient;
    color: $light_color;
    text-align: center;

    .alt-bg & {
        background: $alt_gradient;
    }
}
.bg-light {
    background: $light_gradient;
    color: $color;
    position: relative;
    padding-top: 145px;

    &:before {
        content: '';
        background: url(#{$img-path}/roadmap.png) no-repeat bottom center;
        background-size: 100% auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

.anchor {
    position: relative;
    bottom: 20px;
}
.site {
    perspective: 1px;
	transform-style: preserve-3d;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.noindent {
    margin-bottom: -145px;
}
.mobile-visible {
    @include tablet {
        display: none;
    }
}
