body {
    background: #fff;
    color: $color;
    font: 16px $font-family;
    overflow: hidden;
    @include tablet {
        font-size: $font-size;
    }
}

a {
    color: #7f7fff;
    transition: .2s ease-in-out color;

    &:hover {
        color: #4b4bdb;
    }
}

p {
    line-height: 1.5;

    article &:not([class]) {
        line-height: 2;
        margin-bottom: 20px;
        @include tablet {
            margin-bottom: 40px;
        }
    }
}

ul,
ol {
    padding: 0 0 0 20px;
}

blockquote {
    margin: 0;
    padding: 18px 40px;
    position: relative;

    &:before {
        content: '"';
        font-size: 70px;
        position: absolute;
        top: 16px;
        left: 0;
    }
}

.bg-dark {
    background: $dark_gradient;
    color: $light_color;
    text-align: center;

    .alt-bg & {
        background: $alt_gradient;
    }
}
.bg-light {
    background: $light_gradient;
    color: $color;
    position: relative;
    padding-top: 85px;
}

.anchor {
    position: relative;
    bottom: 20px;
}
.site {
    perspective: 1px;
	transform-style: preserve-3d;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
.noindent {
    margin-bottom: -145px;
}
.mobile-visible {
    @include tablet {
        display: none;
    }
}
