.login {
    display: none;
    @include tablet-wide {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        &_button {
            border: 1px solid currentColor;
            border-radius: 10px;
            color: $light_color;
            font-size: $font-size__small;
            font-weight: bold;
            margin-top: 8px;
            padding: 6px 10px;
            text-decoration: none;

            &:hover {
                color: $bright_color;
            }
        }
    }
}
