$press_indent: 50px;

.press {
    text-align: center;
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    h3 {
        margin:  0 0 $press_indent;
        width: 100%;
    }
    img {
        margin:  0 $layout_indent $press_indent/1.5 0;
        transition: .2s ease-in-out filter;
        @include tablet {
            margin-bottom: $press_indent + 10px;
        }

        &:hover {
            filter: brightness(2);
        }
    }
}
