.text-content {

    .fw-col-xs-12,
    .fw-container > .fw-col-xs-12 {
        max-width: $max-width__article;
        margin-left: auto;
        margin-right: auto;

        & > {
            @include desktop {
                img,
                p > img {
                    &.aligncenter {
                        margin-left: -70px;
                        margin-right: -70px;
                        max-width: 100vw;
                    }
                    &.alignleft {
                        margin-left: -70px;
                    }
                    &.alignright {
                        margin-right: -70px;
                    }
                }
            }
        }
    }
    .fw-col-xs-12  {

        .fw-col-xs-12 {
            padding: 0;
        }
        .fw-row .fw-col-xs-12 {
            padding: 0 15px;
        }
    }
    .entry-title,
    .entry-meta {
        max-width: $max-width__article;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
}
