$img-path: "src/img";

$bg_color: #1C1A28;
$bg_color__alt: #231e1e;
$dark_gradient: linear-gradient(to bottom, #1C1A28, #2A2256);
$light_gradient: linear-gradient(to bottom, #FAF9F8, #DEDFE3);
$alt_gradient: linear-gradient(to bottom, #231E1E, #1A6960);

$color: #000;
$light_color: #fff;
$bright_color: #feffbf;
$extra-bright_color: #f2cd3c;

$font-family: 'Open Sans', sans-serif;
$font-family__heading: 'Montserrat', sans-serif;

$font-size: 18px;
$font-size__small: 14px;

$max-width: 1240px;
$max-width__article: 740px;
$layout_indent: 20px;
